## What is Data?

- Pandas 라이브러리 사용하여 데이터 불러오기 >>> df = pd.read_csv('파일주소', index_col='학생번호')
    - 데이터 크기, 타입 확인 >>> df.shape, tpye(변수명)
    - 데이터(df)를 numpy 배열로 저장 >>> scores = np.array(df['열 이름'])[:10]

- Pandas로 불러온 데이터(df)를 numpy 배열로 변환 >>> scores = np.array(df['악력'])[:10]

- Numpy 배열의 평균값, 중위수, 최빈값 구하기
    1. np.mean()
    2. np.median()
    3. mode()                 'from scipy.stats import mode'

- Numpy 배열의 편차, 분산, 표준편차 구하기
    1. data - np.mean(data)
    2. np.var()
    3. np.std()

- Numpy 배열(데이터) 정규화 >>> z = (scores - np.mean(scores)) / np.std(scores)
    - 정규화 : 평균이 0, 표준편차가 1인 데이터로 변환

In [11]:
import pandas as pd

df = pd.read_csv('C:/Users/User/Jupyter/statistical_analysis/data/ch1_sport_test.csv', index_col='학생번호')

df.head()

# 만약 numpy file이면...
# a = np.load('C:/Users/User/Jupyter/statistical_analysis/data/ch1_sport_test.csv')
# np.save('D:/admin/Documents/x_save.npy', x)

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2

In [12]:
A = df['악력']

In [13]:
print(A)

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [27]:
df.shape

(10, 5)

In [28]:
sp = df.shape

In [29]:
print(sp)

(10, 5)

In [30]:
type(sp)

tuple

In [31]:
sp[0]

10

In [32]:
sp[1]

5

In [36]:
# 처음 10명의 악력 수치를 넘파이 배열로 만들기
scores = np.array(df['악력'])[:10]
print(scores)

[40.2 34.2 28.8 39.  50.9 36.5 36.6 49.2 26.  47.4]

In [45]:
# 평균값, 중위수, 최빈수

# 평균값(1)
mean1 = sum(scores) / len(scores)
mean2 = np.mean(scores)

print(mean1, mean2)

# 중위수
median = np.median(scores)

print(median)

# 최빈수
from scipy.stats import mode
mode = mode(scores)
print(mode)

38.879999999999995 38.879999999999995
37.8
ModeResult(mode=array([26.]), count=array([1]))

In [49]:
# 분산, 표준편차

# 편차
mean = np.mean(scores)
deviation = scores - mean
print(deviation)

# 분산
var = np.var(scores)
print(var)

# 표준편차
std = np.std(scores)
print(std)

[  1.32  -4.68 -10.08   0.12  12.02  -2.38  -2.28  10.32 -12.88   8.52]
62.5596
7.909462687186785

In [50]:
# 데이터 정규화
z = (scores - np.mean(scores)) / np.std(scores)
print(z)

z_mean = np.mean(z)
z_std = np.std(z)
print(z_mean, z_std)

[ 0.16688871 -0.59169632 -1.27442285  0.0151717   1.51969868 -0.3009054
 -0.28826231  1.30476625 -1.6284292   1.07719074]
6.883382752675971e-16 1.0